*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: "poppins","san-serif";
    margin-inline: auto;
    background-color: burlywood;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem;
    margin-bottom: 3rem;
}
.left{
    display: flex;
}
.left ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.left ul a{
    text-decoration: none;
    padding: 0.2rem 1rem;
    color:hsl(257, 7%, 63%);
    cursor: pointer;
}
.right{
    margin-left: 0.5rem;
}
.right ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.right ul a{
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: hsl(257, 7%, 63%);
    cursor: pointer;
}
.right ul .active{
    background: cyan;
    color:#fff;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
}
.hamburger{
    display: block;
}
.bar{
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    transition: all 0.3s ease-in-out;
    background: black;
}

//////////////////////////////////////////////////////////////

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 30rem;
}
.content h1{
    font-size: 3rem;
    margin: 0.5rem;
}
.content p{
    color: hsl(257, 7%, 63%);
    margin: 0.5rem;
}