*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: "poppins","san-serif";
    margin-inline: auto;
    background-color: burlywood;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem;
    margin-bottom: 3rem;
}
.left{
    display: flex;
}
.left ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}