*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: "poppins","san-serif";
    margin-inline: auto;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem;
    margin-bottom: 3rem;
}
.left{
    display: flex;
}
.left ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.left ul a{
    text-decoration: none;
    padding: 0.2rem 1rem;
    color:hsl(257, 7%, 63%);
    cursor: pointer;
}
.right{
    margin-left: 0.5rem;
}
.right ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.right ul a{
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: hsl(257, 7%, 63%);
    cursor: pointer;
}
.right ul .active{
    background: cyan;
    color:#fff;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
}
.hamburger{
    display: block;
}
.bar{
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    transition: all 0.3s ease-in-out;
    background: black;
}


section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 30rem;
}
.content h1{
    font-size: 3rem;
    margin: 0.5rem;
}
.content p{
    color: hsl(257, 7%, 63%);
    margin: 0.5rem;
}
.content .btn{
    background: cyan;
    padding: 0.5rem 1.7rem;
    margin: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    color:#fff;
    font-size: 1.2rem;
    border-radius: 1.2rem;
}
.image img{
    width: 85%;
}
input{
    padding: 0.6rem 0.3rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    margin: 0.5rem;
    flex: 1;
}
.input-container{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(257, 27%, 26%);
    padding: 1rem 1.5rem;
    position: relative;
    width: min(100%, 40rem);
    border-radius: 0.3rem;
    overflow: hidden;
}
.input-btn{
    padding: 0.5em; 
    border-radius: 0.2rem;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background: cyan;
    outline: none;
    border: none;
    cursor: pointer;
}
.services{
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.services-content{
    max-width: 30rem;
}
.services-content p{
    color: hsl(257, 7%, 63%);
}
.cards{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.card p{
    color: rgb(52,44,44);
}
.card{
    margin: 2rem;
    max-width: 20rem;
}
.card1{
    background: #eff1f7;
    padding: 1rem 0.2rem;
    border-radius: 0.3rem;
}
.card2{
    background: #eff1f7;
    padding: 1rem 0.2rem;
    border-radius: 0.3rem;
}
.card3{
    background: #eff1f7;
    padding: 1rem 0.2rem;
    border-radius: 0.3rem;
}
.boost{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: hsl(257, 27%, 26%) ;
    padding: 1.8rem;
    position: relative;
    gap: 2rem;
    color: #fff;
}
.boost .btn{
    background: cyan;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 1.5rem;
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background:hsl(260, 8%, 14%);
}
.footer-links {
  margin-top: 2rem;
}
ul li {
  color:hsl(257, 27%, 26%);
  margin: 0.2rem 0;
  list-style: none;
}
ul :nth-child(1) {
  color: #fff;
  font-weight: bold;
}
.footer-social {
  display: flex;
  justify-content: space-between;
}